<html lang="en">
  <%- include('../views/header.ejs')%>

  <body>
    <%- include('../views/nav.ejs')%>

    <div class="not-found content">Oops, page not found!</div>
    <%- include('../views/footer.ejs')%>

  </body>
</html>
