<html lang="en">
  <%- include('./includes/header.ejs')%>

  <body>
    <%- include('./includes/nav.ejs')%>

    <div class="not-found content">Oops, page not found!</div>
    <%- include('./includes/footer.ejs')%>

  </body>
</html>
