<html lang="en">
  <%- include('../views/header.ejs')%>

  <body>
    <%- include('../views/nav.ejs')%>

    <div class="create-blog content">
      <form action="/blogs/add-post" method="POST">
        <label for="title">Blog title:</label>
        <input name="title" type="text" id="title" required />
        <label for="snippet">Blog snippet:</label>
        <input name="snippet" type="text" id="snippet" required />
        <label for="body">Blog body:</label>
        <textarea name="body" id="body" required></textarea>
        <button>Submit</button>
      </form>
    </div>
    <%- include('../views/footer.ejs')%>
  </body>
</html>
